#space-d3 {
    display: block;
    background-color: #000;
    clear: left;
    width: 800px;
    height: 400px;
}

.axis-label {
    position: absolute;
    left: 10px;
    top: 235px;
    font-family: 'Tahoma', sans-serif;
    font-size: 9pt;
    color: #000;
}

.box {
    fill: #fff;
    stroke: none;
}

.planet {
}

.solar {
    fill: #04B4AE;
    fill-opacity: 0.8;
    stroke-width: 2px;
    stroke: #0B4C5F;
}

.extrasolar {
    stroke-width: 1px;
}

.solar-orbit {
    fill: none;
    stroke-width: 2px;
    stroke: #aaa;
}

.exo-orbit {
    fill: none;
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.1);
}

.selected-orbit {
    fill: none;
    stroke-width: 3px;
    stroke: #0f0;
}

.axis line,
.axis path {
    fill: none;
    stroke: #666;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: verdana, sans-serif;
    font-size: 10px;
    stroke: none;
    fill: #666;
}

.size-legend {
    fill: none;
    stroke-width: 1px;
    stroke: #fff;
}

.legend-line {
    fill: none;
    stroke-width: 1;
    stroke: rgb(200, 200, 200);
    stroke-opacity: 0.8;
}

.legend-label {
    fill: rgba(255, 255, 255, 0.8);
    font-size: 12;
}

.reference-tick-line {
    fill: none;
    stroke-width: 1;
    stroke: rgb(200, 200, 200);
    stroke-opacity: 0.5;
}

